.container {
  @mixin container $container-width, $container-gutter;

  @media(--large) {
    @mixin container $container-width, 3.5rem;
  }
}

details > summary::-webkit-details-marker {
  display: none;
}