.breadcrumb {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.938rem 0;
}

.breadcrumb__item {
  font-family: var(--body__type);
  font-style: normal;
  font-weight: normal;
  font-size: 0.75rem;
  line-height: 1.313rem;
  padding: 0 0.313rem;
}

.breadcrumb__link {
  color: var(--secondary__color);
  text-decoration: none;
}

.breadcrumb__item {
  color: var(--text__color);
}

.breadcrumb__vector {
  color: var(--text__color);
}